{% include 'navbar.html'%}

<main class="pa4 black-80">
    <form class="measure center">
      <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
        <legend class="f4 fw6 ph0 mh0 tc hover-dark-green"><h1>Password reset</h1></legend>
        <div class="mt3">
         
        <div class="mv3">
            <h3 class="hover-dark-green">new Password</h3>
          <input class="b pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" type="password" name="password"  id="password">
        </div>
        <div class="mv3">
            <h3 class="hover-dark-green">retype Password</h3>
          <input class="b pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" type="password" name="password"  id="password">
        </div>
       
      </fieldset>
      <div class="">
        <input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f3  dib" type="submit" value="enter">
      </div>
     
    </form>
  </main>
  